{% extends "base.html" %}

{% block content %}
<a class="backlink" href="/">Home</a>
<h1>{{ post }}</h1>
<p class="byline">
  Posted by {{ post.author_name }} &mdash; {{ post.published_date }}
</p>
<div class="post-body">
  {{ post.text }}
</div>
<ul class="categories">
  {% for category in post.categories.all %}
  <li>{{ category }}</li>
  {% endfor %}
</ul>
<form method="post" >
  {% csrf_token %}
  {{form}}

  <button type="submit" class="btn btn-default">Submit</button>
</form>
{% for comment in comments %}
<h4>{{ comment.author }}</h4><br>
<p>{{ comment.text }}</p><br>
{% endfor %}
{% endblock %}
